{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Photo Grid -->
  <div class="w3-row">
    <div class="w3-half">
      <img src="{% static 'images/target_portrait.png' %}" style="width:100%">
      <img src="{% static 'images/polar_rose.gif' %}" style="width:100%">
      <img src="{% static 'images/monarchs.png' %}" style="width:100%">
    </div>

    <div class="w3-half">
      <img src="{% static 'images/target_dee.png' %}" style="width:100%">
      <img src="{% static 'images/hatching_FK.png' %}" style="width:100%">
    </div>
  </div>
{% endblock content %}